:root {
    --white: #9ee;
    --black: #aee;
    --blue: #44e;
    --grey: #f86;
    --grey2: #fd5;
    --grey-alt: #f66;
    --yellow: #f86;
    --green: #8bf;
    --nsdjd: #ce5;
    --dnfff: #2cc;


    --color_0: rgb(255,255,255);
    --color_1: 255,255,255;
    --color_2: rgb(0,0,0);
    --color_3: rgb(237,28,36);
    --color_4: rgb(0,136,203);
    --color_5: rgb(255,203,5);
    --color_6: rgb(114,114,114);
    --color_7: rgb(176,176,176);
    --color_8: rgb(255,255,255);
    --color_9: rgb(114,114,114);
    --color_10: rgb(176,176,176);
    --color_11: rgb(255,255,255);
    --color_12: rgb(232,230,230);
    --color_13: rgb(199,199,199);
    --color_14: rgb(82,82,82);
    --color_15: rgb(0,0,0);
    --color_16: rgb(186,183,243);
    --color_17:  rgb(150,146,230);
    --color_18:  rgb(65,58,218);
    --color_19:  rgb(43,39,145);
    --color_20:  rgb(22,19,73);
    --color_21:  rgb(253,236,197);
    --color_22:  rgb(250,226,167);
    --color_23:  rgb(248,200,83);
    --color_24:  rgb(165,133,55);
    --color_25:  rgb(83,67,28);
    --color_26:  rgb(249,187,175);
    --color_27:  rgb(244,122,98);
    --color_28:  rgb(183,92,74);
    --color_29:  rgb(122,61,49);
    --color_30:  rgb(61,31,25);
    --color_31:  rgb(162,234,198);
    --color_32:  rgb(115,214,164);
    --color_33:  rgb(14,193,103);
    --color_34:  rgb(9,129,69);
    --color_35:  rgb(5,64,34);
  }


body {
  height: 200vh;
  /* overflow-x: hidden; */
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/* navbar */

.navbar {
  background-color: #8bf;
  
}

.navbar img {
  width: 150px;

}

.navbar a {
  color: #44e !important;
  font-weight: 600;
}

.main{
   margin-left: -10px;
   margin-right: 170px;
   height: 50px;
}

.main p {
  color: #44e;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin-top: 7px;
}

.hide {
	background: #fd5;
	width: 230px;
	/* margin: 10px auto; */
	color: aliceblue;
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.hide li {
  list-style: none;
  margin-left: -30px;
  padding-bottom: 5px;
}

.hide a {
	color: black;
  text-decoration: none;
  display: block;
  color: #44e;
  font-size: 18px;
  font-weight: 600;
}

.main:hover .hide{display: block;}

/* stick button */


.stick-icon {
  color: white;
	position: fixed;
	display: block;
  right: 15px;
  z-index: 10;
}

.stick {
	color: white;
	width: 160px;
	height: auto;
	margin: 10px 0;
	position: fixed;
	text-align: center;
	display: block;
  right: 0px;
  z-index: 10;
  height: 50px;
  font-size: 22px;
  padding-top: 10px;
  font-weight: 600;
}

.stick:hover {
  color: white;
}

.btnone {
  top: 280px;
  background: #f86;
}

.btnone:hover {
  background-color: #44e;
}

.btntwo {
  top: 350px;
  background: #44e;
}



/* section 1 */

.sec-one {
  background-color: #9ee;
  border: 1px solid  #9ee;
  height: 80vh;
}

.sec-one .row {
   margin: 6rem 3rem auto 3rem;
}



.sec-one h3 {
  color: #44e;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec-one h2 {
  color: #f66;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec-one button {
  width: 100%;
  height: 60px;
  font-size: 25px;
  margin-bottom: 20px; 
}

.sec-one .btn-1 {
   font-weight: 600;
   background-color: #44e;
   color: white;
   border: none;
}

.sec-one .btn-2 {
  padding-left: 0;
  background-color: #fd5;
  border: 3px solid #f66;
}

.sec-one .btn-2:hover {
  background-color: #44e;
  color: white;
  border: none;
}

.sec-one iframe {
  width: 100%;
  height: 100%;
  border: 3px solid #44e;
}


        /* section 2 */

.sec-two {
  background-color: #fd5;
  height: auto;
  padding: 4rem;
} 

.sec-two .second {
  margin-top: 60px;
}

.sec-two .row .col-md {
  /* margin: auto 5px ; */
  /* border: 1px solid rebeccapurple; */
  position: relative;
  text-align: center;
}

.sec-two .img-div{
  /* border: 1px solid red; */
}

.sec-two .img-div .img{
   width: 100%;
}

.sec-two .detail{
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  top: 280px;
  left: 10%;
  width: 80%;
  font-size: 20px;
}

.sec-two .detail a {
  color: #2cc;
  font-weight: 700;
  border-bottom: 2px solid #2cc;
}

.sec-two .detail a span{
  color: #44f;
  font-weight: 700;
  border-bottom: 2px solid #44f;
}

.sec-two .detail p {
  font-size: 16px;
  font-weight: 600;

}


/* section 3 */

.sec-three {
  background-color: #9ee;
  padding: 3rem 13rem;
  margin: auto 0;
}

.sec-three .row .col-md {
  color: #44e;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

.sec-three h2{
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
}

.sec-three iframe{
  margin-top: 20%;
  height: 70%;
  width: 100%;
}

/* parallax */

.parallax {
  /* The image used */
  background-image: url("images/bg-image.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section 4 */

.sec-four {
  padding: 3rem 11rem;
  background-color: white;
}

.sec-four .row .col-md {
  color: #44e;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

.sec-four h2{
  margin-bottom: 2rem;
  color: #44e;
  font-weight: 700;
}

.sec-four img{
  width: 100%;
  height: 280px;
}

/* section 5 */

.sec-five {
  background-color: #9ee;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec-five h2{
  margin: 40px auto;
  color: #44e;
  font-weight: 700;
}

.sec-five .row {
  margin: 30px;
}

.sec-five .col-md {
  background-color: #fd5;
  margin: auto 10px;
  padding: 0;
}

.sec-five img {
  width: 236px;
  height: 236px;
  border-top: 5px solid #44e;
  border-bottom: 5px solid #44e;
}

.sec-five h4 {
  color: white;
  font-weight: 600;
  margin: 15px auto;
}

.sec-five button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  width: 50%;
}


/* section 6 */

.sec-six {
  background-color: #fd5;
}

.sec-six h6 {
  padding-left: 10%;
  margin-top: 40px;
  font-size: 18px;
}
 
.sec-six ul li {
  list-style: none;
  line-height: 2.5;
  font-size: 17px;
  font-weight: 500;
}

.sec-six ul li a{
  color: #44e;
}



/* section 7 */

.sec-seven {
  background-color: #f66;
  color: white;
}


.sec-seven .row {
  margin: auto 12%;
}

.sec-seven h2 {
  font-weight: 700;
  margin: 40px auto;
}

.sec-seven .address p{
   margin: 30px auto;
   font-weight: 600;
}

.sec-seven .icon {
  /* height: 40px;
  width: 150px; 
  border: 2px solid white;*/
  margin-top: 100px;
  margin-bottom: 80px;
}


.sec-form .form {
  padding-right: 0;
}

.sec-seven form input {
  border: 1px solid white;
  background-color: transparent;
  height: 40px;
  padding-left: 10px;
  width: 45%;
  font-weight: 600;
  margin-bottom: 30px;
}

.sec-seven .even{
  margin-left: 5%;
}

.sec-seven form input::placeholder {
  color: white;
}

.sec-seven form textarea {
  border: 1px solid white;
  background-color: transparent;
  height: 100px;
  padding-left: 10px;
  width: 100%;
  font-weight: 600;
  margin-bottom: 30px;
  resize: none;
  padding-top: 10px;
}

.sec-seven form textarea::placeholder {
  color: white;
}

.sec-seven .submit {
  margin-left: 0;
  width: 100%;
  height: 60px;
}

/* .sec-seven .submit div {
  float: left;
  background-color: white;
  height: 100%;
  width: 220px;
  color: black;
}

*/

.sec-seven .submit button {
  float: right;
  color: white;
  font-weight: 600;
  background-color:  #44e;
  border: none;
  width: 150px;
  /* height: 80%; */
  height: 50px;
}

.sec-seven .form p {
  font-weight: 600;
}

/* sec eight */


.sec-eight {
  background-color: #fd5;
  color: #44e;
}

.sec-eight .row {
  margin: auto 5%;
  padding: 10px;
}

.sec-eight ul li {
  float: left;
  list-style: none;
  padding-right: 5px;
  padding-left: 5px;
}




@media screen and (max-width: 680px) {
  

  /* sec one */

  .sec-one {
  border: 1px solid skyblue;
  height: 100vh;
  }

  /* sec two  */

  .sec-two {
    height: fit-content;
    padding: 4rem;
  } 

.sec-two .row .col-md {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}

.sec-two .img-div .img{
   width: 100%;
   height: 300px;
}

.sec-two .detail{
  position: absolute;
  top: 90%;
  left: 10%;
  width: 80%;
}


/* sec three */

 .sec-three {
  padding: 10px;
  margin: auto 10px;
}

.sec-three iframe{
  margin: 10% auto;
  height: 70%;
  width: 100%;
}

/* sec four */

.sec-four {
  background-color: white;
  padding: 20px 10px;
}

/* sec five */

.sec-five .row {
  margin: 100px;
}

.sec-five .col-md {
  background-color: #fd5;
  margin-bottom:  10px;
  padding: 0;
}

.sec-five img {
  width: 100%;
  height: 236px;
}


/* sec seven */


.sec-seven .row {
  margin: auto 5%;
}

.sec-seven h2 {
  margin: 20px auto;
}

.sec-seven .address p{
   margin: 20px auto;
}

.sec-seven .icon {
  margin-top: 40px;
  margin-bottom: 60px;
}

.sec-seven form input {
  height: 40px;
  padding-left: 10px;
  width: 250px;
  font-weight: 600;
  margin-bottom: 30px;
}

.sec-seven .even{
  margin-left: 0px;
}

/* sec eight */
 
.sec-eight .col-md {
  margin-bottom: 10px;
  text-align: center;
}

.sec-eight ul li {
  float: left;
  list-style: none;
  padding-right: 5px;
  padding-left: 5px;
}


}


.map iframe {
	display: inline;
	width: 100%;
	height: 300px;
	border: 0px;
	
}