:root {
    --white: #9ee;
    --black: #aee;
    --blue: #44e;
    --grey: #f86;
    --grey2: #fd5;
    --grey-alt: #f66;
    --yellow: #f86;
    --green: #8bf;
    --nsdjd: #ce5;
    --dnfff: #2cc;
  }

*{
			font-family: barlow medium;
}


body {
  height: 200vh;
  /* overflow-x: hidden; */
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}


/* navbar */

.navbar {
  background-color:rgb(150,221,230) ;
  
}

.navbar img {
  width: 150px;

}

.navbar a {
  color: #44e !important;
  font-weight: 600;
}

.main{
   margin-left: -10px;
   margin-right: 170px;
   height: 50px;
}

.main p {
  color: #44e;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin-top: 7px;
}

.hide {
	background: #fd5;
	width: 235px;
	/* margin: 10px auto; */
	color: aliceblue;
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.hide li {
  list-style: none;
  margin-left: -44px;
  padding-bottom: 5px;
  text-align: center;
}

.hide a {
  text-decoration: none;
  display: block;
  color: #44e;
  font-size: 18px;
  font-weight: 600;
}


.main:hover .hide{display: block;}

/* stick button */


.stick-icon {
  color: white;
	position: fixed;
	display: block;
  right: 15px;
  z-index: 10;
}

.stick {
	color: white;
	width: 160px;
	height: auto;
	margin: 10px 0;
	position: fixed;
	text-align: center;
	display: block;
  right: 0px;
  z-index: 10;
  height: 50px;
  font-size: 22px;
  padding-top: 10px;
  font-weight: 600;
}

.stick:hover {
  color: white;
}

.btnone {
  top: 280px;
  background: #f86;
}

.btnone:hover {
  background-color: #44e;
}

.btntwo {
  top: 350px;
  background: #44e;
}



/* section 1 */

.sec-one {
  background-color: rgb(166,220,231);
  border: 1px solid  rgb(166,220,231);
  height: 80vh;
}

.sec-one .row {
   margin: 6rem 3rem auto 3rem;
}

.sec-one h1 {
  color: #44e;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 28px; 
}

.sec-one h3 {
  color: #f66;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 32px;
}

.sec-one button {
  width: 100%;
  height: 60px;
  font-size: 25px;
  margin-bottom: 20px; 
}

.sec-one .btn-1 {
   font-weight: 600;
   background-color: #44e;
   color: white;
   border: none;
}

.sec-one .btn-2 {
  padding-left: 0px;
  background-color: #fd5;
  border: 2px solid #f66;
}

.sec-one .btn-2:hover {
  background-color: #44e;
  color: white;
  border: none;
}

.sec-one iframe {
  width: 100%;
  height: 100%;
  border: 3px solid #44e;
}


        /* section 2 */

.sec-two {
  background-color:rgb(248,200,83);
  height: auto;
  padding: 4rem;
  padding-bottom: 150px;
} 

.sec-two .second {
  margin-top: 150px;
}

.sec-two .row .col-md {
  /* margin: auto 5px ; */
  /* border: 1px solid rebeccapurple; */
  position: relative;
  text-align: center;
}

.sec-two .img-div{
  /* border: 1px solid red; */
  width: 224px;
  height: 280px;
  
}

.sec-two .img-div .img{
   width: 100%;
}

.sec-two .detail{
  border: 1px solid grey;
  background-color: white;
  position: absolute;
  top: 230px;
  left: 23px;
  width:  207px;
  height: 166px;
  font-size: 20px;
}

.sec-two .detail a {
  color: #2cc;
  font-weight: 700;
  border-bottom: 2px solid #2cc;
}

.sec-two .detail a span{
  color: #44f;
  font-weight: 700;
  border-bottom: 2px solid #44f;
}

.sec-two .detail p {
  font-size: 16px;
  font-weight: 600;

}


/* section 3 */

.sec-three {
  background-color: rgb(150,221,230);
  padding: 3rem 13rem;
  margin: auto 0;
}

.sec-three .row .col-md {
  color: #44e;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

.sec-three h2{
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
}

.sec-three iframe{
  margin-top: 20%;
}

/* parallax */

.parallax {
  /* The image used */
  background-image: url("images/bg-image.png");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* section 4 */

.sec-four {
  padding: 3rem 11rem;
  background-color: white;
}

.sec-four .row .col-md {
  color: #44e;
  line-height: 1.8;
  font-weight: 500;
  font-size: 16px;
}

.sec-four h2{
  margin-bottom: 2rem;
  color: #44e;
  font-weight: 700;
}

.sec-four img{
  width : 514px;
  height: 317px;
}

/* section 5 */

.sec-five {
  background-color: rgb(150,221,230);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec-five h2{
  margin: 40px auto;
  color: #44e;
  font-weight: 700;
}

.sec-five .row {
  margin: 30px;
}

.sec-five .col-md {
  background-color: #fd5;
  margin: auto 10px;
  padding: 0;
  width: 236px;
  height: 326px;
}

.sec-five img {
  width: 236px;
  height: 180px;
  border-top: 5px solid #44e;
  border-bottom: 5px solid #44e;
}

.sec-five h4 {
  color: white;
  font-weight: 600;
  margin: 15px auto;
}

.sec-five button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  width: 50%;
}


/* section 6 */

.sec-six {
  background-color: rgb(248,200,83);
}

.sec-six h6 {
  padding-left: 10%;
  margin-top: 40px;
  font-size: 18px;
}
 
.sec-six ul li {
  list-style: none;
  line-height: 2.5;
  font-size: 17px;
  font-weight: 500;
}

.sec-six ul li a{
  color: #44e;
}



/* section 7 */

.sec-seven {
  background-color: rgb(244,122,98);
  color: white;
}


.sec-seven .row {
  margin: auto 12%;
}

.sec-seven h2 {
  font-weight: 700;
  margin: 40px auto;
}

.sec-seven .address p{
   margin: 30px auto;
   font-weight: 600;
}

.sec-seven .icon {
  /* height: 40px;
  width: 150px; 
  border: 2px solid white;*/
  margin-top: 100px;
  margin-bottom: 80px;
}


.sec-form .form {
  padding-right: 0;
}

.sec-seven form input {
  border: 1px solid white;
  background-color: transparent;
  height: 40px;
  padding-left: 10px;
  width: 45%;
  font-weight: 600;
  margin-bottom: 30px;
}

.sec-seven .even{
  margin-left: 5%;
}

.sec-seven form input::placeholder {
  color: white;
}

.sec-seven form textarea {
  border: 1px solid white;
  background-color: transparent;
  height: 100px;
  padding-left: 10px;
  width: 100%;
  font-weight: 600;
  margin-bottom: 30px;
  resize: none;
  padding-top: 10px;
}

.sec-seven form textarea::placeholder {
  color: white;
}

.sec-seven .submit {
  margin-left: 0;
  width: 100%;
  height: 60px;
}

/* .sec-seven .submit div {
  float: left;
  background-color: white;
  height: 100%;
  width: 220px;
  color: black;
}

*/

.sec-seven .submit button {
  float: right;
  color: white;
  font-weight: 600;
  background-color:  #44e;
  border: none;
  width: 150px;
  /* height: 80%; */
  height: 50px;
}

.sec-seven .form p {
  font-weight: 600;
}

/* sec eight */


.sec-eight {
  background-color: rgb(248,200,83);
  color: #44e;
}

.sec-eight .row {
  margin: auto 5%;
  padding: 10px;
}

.sec-eight ul li {
  float: left;
  list-style: none;
  padding-right: 5px;
  padding-left: 5px;
}




@media screen and (max-width: 680px) {
  

  /* sec one */

 .sec-one {
  border: 1px solid skyblue;
  height: auto;
  }

  .sec-one .row {
    margin: 5px;
  }

  .sec-one .btn-2 {
     font-size: 20px;
  }
  /* sec two  */

  .sec-two {
    height: fit-content;
    padding: 50px;
  } 

  .sec-two .row .col-md {
    position: relative;
    text-align: center;
    margin-bottom: 150px;
  }

   .sec-two .row:last-child{
    margin-top: 0;
  } 

  /* sec three */

  .sec-three {
    padding: 10px;
    margin: auto;
  }

  .sec-three iframe{
    margin: 10% auto;
    height: 70%;
    width: 100%;
  }

  /* sec four */

  .sec-four {
    background-color: white;
    padding: 20px 10px;
  }

/* sec five */

.sec-five .col-md {
  margin: auto;
  margin-bottom: 10px;
}

/* section six */

.sec-six ul {
  padding-left: 0 ;
}

/* sec seven */


.sec-seven .row {
  margin: auto 5%;
}

.sec-seven h2 {
  margin: 20px auto;
}

.sec-seven .address p{
   margin: 20px auto;
}

.sec-seven .icon {
  margin-top: 40px;
  margin-bottom: 60px;
}

.sec-seven form input {
  height: 40px;
  padding-left: 10px;
  width: 250px;
  font-weight: 600;
  margin-bottom: 30px;
}

.sec-seven .even{
  margin-left: 0px;
}

.sec-seven .submit {
  height: auto;
}

.sec-seven .submit button{
  min-height: auto;
  margin-top: 10px;
}

/* sec eight */
 
.sec-eight .col-md {
  margin-bottom: 10px;
}

.sec-eight .col-md:first-child{
  padding-left: 0px;
  padding-right: 0px;
}

.sec-eight .col-md li a{
  margin-left: -30px;
}



}


.map iframe {
	display: inline;
	width: 100%;
	height: 300px;
	border: 0px;
	
}